<div class="content">
  <div class="row">
    <!-- Button trigger modal -->
    <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn-add btn btn-primary pull-right" data-bs-toggle="modal" data-bs-target="#AddDeviceModal">
              <i class="bi bi-plus-circle"></i>
              Add new workstation
          </button>
      </div>
    </div>

    <!-- Add new workstation Modal. Opens after clicking the button-->
    <div class="modal fade" id="AddDeviceModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="AddDeviceModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form (ngSubmit)="addWorkstation(addDeviceForm)" #addDeviceForm="ngForm">
          <div class="modal-header">
          <h5 class="modal-title" id="AddDeviceModalLabel">Add new workstation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div *ngIf="formDataError == true">
                <h5 class="alert alert-danger">Please fill all fields</h5>
              </div>
              <div class="form-group">
                  <label  class="col-sm-5 control-label"
                          for="inputNotes">workstation name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" required ngModel
                      id="workstation_name" name ="workstation_name" placeholder="Put here the note"/>
                  </div>
              </div>
              <div class="form-group">
                  <label for = "type" class = "col-sm-5 control-label">Type</label>
                  <div class = "col-sm-10">
                      <select class = "form-select" id = "workstation_type" name="workstation_type" ngModel>
                          <option value="Custom">Custom</option>
                          <option value="Linux">Linux</option>
                          <option value="Windows">Windows</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label for = "type" class = "col-sm-5 control-label">Expected update period</label>
                  <div class = "col-sm-10">
                      <select class = "form-select" id = "update_period" name="update_period" ngModel>
                          <!-- <option value="5">30 seconds</option> -->
                          <option value="60">1 minute</option>
                          <option value="180">3 minutes</option>
                          <option value="300">5 minutes</option>
                          <option value="600">10 minute</option>
                          <option value="900">15 minutes</option>
                          <option value="1800">30 minutes</option>
                          <option value="3600"> 1 hour</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Add workstation</button>
          </div>
          </form>
      </div>
      </div>
    </div>
  
    <!-- Device cards -->
    <div class="col-md-4" *ngFor="let workstation of workstationList;">
      <div class="card">
        <div class="card-header card-header-danger">
          {{workstation.ws_status}}
        </div>
        <div class="card-body">
          <h4 class="card-title">Workstation name: {{workstation.ws_name}} </h4>
          <h5 class="card-category">Workstation ID: {{workstation.ws_id}}</h5>
          <h5 class="card-category">Workstation type: {{workstation.ws_type}}</h5>
          <h5 class="card-category">Workstation status: {{workstation.ws_status}}</h5>
          <h5 class="card-category">Workstation token: {{workstation.ws_token}}</h5>
          <p class="card-category">
            <!-- <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p> -->
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated 4 minutes ago
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-12" >
      <div class="card" >
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Workstation trends</h4>
          <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-3">
            <div id="workstation-chart" width="400" height="800" ></div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Workstation table -->
    <div class="col-lg-12 col-md-12" *ngIf="workstationData.length > 0">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Workstation updates</h4>
            <!-- <p class="card-category">Recent updates </p> -->
          </div>
          <div class="card-body table-responsive">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Device Name</th>
                  <th>Last update time</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let workstation of workstationData;">
                  <tr *ngFor="let data of workstation.data;">
                    <td>{{workstation.ws_id}}</td>
                    <td>{{workstation.ws_name}}</td>
                    <td>{{data.update_time}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
  