  <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">sensors</i>
              </div>
              <p class="card-category">Sensors</p>
              <h3 class="card-title">{{ sensors.sensors }}
                <!-- <small>GB</small> -->
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#">Go to sensors page </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">toggle_on</i>
              </div>
              <p class="card-category">Switches</p>
              <h3 class="card-title">{{switches.switches}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#">Go to switch page </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">computer</i>
              </div>
              <p class="card-category">Workstations</p>
              <h3 class="card-title">{{ workstations.workstations }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#">Go to workstations page </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <!-- <i class="fa fa-twitter"></i> -->
                <i class="material-icons">share_location</i>
              </div>
              <p class="card-category">GPS</p>
              <h3 class="card-title">{{gps.gps}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#">Go to gps page </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of the device details and cards -->

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-success">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Notifications</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="" checked>
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>All the notifications will be displayed here"</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="sensorData.length > 0">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Sensor updates</h4>
              <!-- <p class="card-category">Recent updates </p> -->
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Device ID</th>
                  <th>Device Name</th>
                  <th>Status</th>
                  <th>Last update time</th>
                </thead>
                <tbody *ngFor="let sensor of sensorData;">
                  <tr *ngFor="let data of sensor.data;">
                    <td>{{sensor.sensor_id}}</td>
                    <td>{{sensor.sensor_name}}</td>
                    <td>Offline</td>
                    <td>{{data.update_time}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="switchData.length > 0">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Switch updates</h4>
              <!-- <p class="card-category">Recent updates </p> -->
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Device ID</th>
                  <th>Device Name</th>
                  <th>Status</th>
                  <th>Last update time</th>
                </thead>
                <tbody *ngFor="let switch of switchData;">
                  <tr *ngFor="let data of switch.data;">
                    <td>{{switch.switch_id}}</td>
                    <td>{{switch.switch_name}}</td>
                    <td>Offline</td>
                    <td>{{data.update_time}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="workstationData.length > 0">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Workstation</h4>
              <!-- <p class="card-category">Recent updates </p> -->
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Device ID</th>
                  <th>Device Name</th>
                  <th>Status</th>
                  <th>Last update time</th>
                </thead>
                <tbody *ngFor="let workstation of workstationData;">
                  <tr *ngFor="let data of workstation.data;">
                    <td>{{workstation.ws_id}}</td>
                    <td>{{workstation.ws_name}}</td>
                    <td>Offline</td>
                    <td>{{data.update_time}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="gpsData.length > 0">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">Workstation</h4>
              <!-- <p class="card-category">Recent updates </p> -->
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Device ID</th>
                  <th>Device Name</th>
                  <th>Status</th>
                  <th>Last update time</th>
                </thead>
                <tbody *ngFor="let gps of gpsData;">
                  <tr *ngFor="let data of gps.data;">
                    <td>{{gps.gps_id}}</td>
                    <td>{{gps.gps_name}}</td>
                    <td>Offline</td>
                    <td>{{data.update_time}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
  </div>
