.register-wrapper{
    
    margin: 10rem auto;
    width: 30rem;
}
input{
    margin-bottom: 1rem;
}
.login-logo{
    margin-left: 10rem;
}
button{
    margin-bottom: 2rem;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}